/* 
    the concept here is creating an illusion of layers where one layer( about half the other ) sit on top of
    other with the scrolling texts directly positioned on top of each other in each of the layers
    ( almost like the way you would make an overlay ) then, both text are animated to translate from their 
    initial position to a new one, due to illusion, the text appears to change colors while doing the translate

    make sure to use the overflow in both layers as the scrolling translation make cause overflow defects
*/



* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
}
section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #eaffae;
    position: relative;
    top: 0;
}
.wrapper {
    width: 50%;
    height: 100%;
    overflow: hidden;
    background-color: #f55757;
    color: #eaffae;
    position: absolute;
    top: 0;
    left: 0;    
}
.sliding {
    position: absolute;
    top: 50%;
    white-space: nowrap;
    font-size: 12em;
    line-height: 100%;
    overflow: hidden;
    animation: scroll 20s linear 1 forwards;
}

@keyframes scroll {
    0% {
        transform: translate( -50%, -50% );
    }
    
    100% {
        transform: translate( 50%, -50% );
    }
}